*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

button{
    border: none;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
}

:root{
    --azul: #2A2F96;
    --rednasa: #E31621;
    --fundo: url();
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: var(--fundo);
    background-size: cover;
    background-repeat: no-repeat;
}

.filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #00000037;
}

#visualisacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
}

#opcoes{
    position: relative;
    min-width: 230px;
    width: 20vw;
    min-height: 50px;
    height: 4vh;
    background-color: #ffffff;
    border-radius: 50px;
    border: 3px solid #9c9c9c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}


#logo{
    position: absolute;
    left: 50%;
    top: -60%;
    transform: translate(-50%, -50%);
    min-width: 60px;
    width: 5vw;
    min-height: 60px;
    height: 5vw;
}

#opcoes button img{
    min-width: 25px;
    width: 4vw;
    min-height: 25px;
    height: 4vw;
    border-radius: 50%;
    padding: 2px;
    background-color: #9c9c9c;
    overflow: hidden;
}

#opcoes button img{
    min-width: 20px;
    width: 2vw;
    min-height: 20px;
    height: 2vw;
    color: rgb(0, 105, 197);
}
