*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

button{
    border: none;
    cursor: pointer;
}
input{
    border: none;
    outline: none;
}

:root{
    --blue-nasa: #2A2F96;
    --red-nasa: #E31621;
    --gray-nasa: #9c9c9c;
    --fundo: url();
    --altura-opcoes: 2vh;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--blue-nasa);
    background-image: var(--fundo);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1000;
    transition: 1s;
}

.filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #00000037;
}

#visualisacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
}
#logo{
    position: absolute;
    left: 50%;
    top: -55%;
    transform: translate(-50%, -50%);
    min-width: 60px;
    width: 5vw;
    min-height: 60px;
    height: 5vw;
}
#area-opcoes{
    position: relative;
    min-width: 230px;
    
    min-height: 40px;
    height: 4vh;
    background-color: white;
    border: 3px solid var(--gray-nasa);
    transition: 1s;
}

.area-opcoes{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 20vw;
}
.area-opcoes-Planet{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 55vw;
}

.caixa-opcoes{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2vh;
    transition: 0.7s;
    z-index: 1;
}



#opcoes{
    padding: 5px;
    padding-inline: 10%;
}


.caixa-opcoes button{
    min-width: 25px;
    width: 3vh;
    min-height: 25px;
    height: 3vh;
    padding: 2px;
    background-color: var(--gray-nasa);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    border-radius: 50%;
}

button.descer{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: translateY(calc((var(--altura-opcoes) + 100%) / 1.4));
}

.caixa-opcoes .cima:hover{
    transform: scale(1.2);
}


.caixa-opcoes button .icons{
    min-width: 20px;
    width: 2vh;
    min-height: 20px;
    height: 2vh;
    background-color: var(--red-nasa);
}




/* #planet{
    -webkit-mask: url('./icons/planet.svg');
    mask: url('./icons/planet.svg');
}
#star{
    -webkit-mask: url('./icons/star.svg');
    mask: url('./icons/star.svg');
} */


.card{
    background-color: white;
    border-radius: 50px;
    border: 3px solid var(--gray-nasa);
    color: black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 10px;
}
.card *{
    width: 100%;
}
.card::-webkit-scrollbar {
    width: 0px;
}

.card div h2, .card div span, .card h2, .card span, .card p{
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.card div h2, .card h2{
    color: var(--blue-nasa);
    font-size: 24px;
}
.card div span, .card span{
    color: var(--red-nasa);
    text-align: end;
    font-size: 12px;
}
.card video, .card img{
    max-height: 50%;
    border: 1px solid var(--gray-nasa);
}
.card p{
    line-height: 1.5;
}

#day{
    height: 60vh;
    width: 55vw;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

#lista-cards{
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
    transition: 1.2s;
}
.lista-cards{
    width: 60vw;
    height: 70vh;
    gap: 5vw;
    padding: 1vh;
}
.lista-cards-menor{
    width: 0.01px;
    height: 0.01px;
    gap: 0vw;
    padding: 0vh;
}

#lista-cards::-webkit-scrollbar {
    width: 0px;
}

#lista-cards .card{
    flex: 0 0 50%; /* Evita que os cards diminuam */
    height: 100%;
    min-width: 30vw;
}